.app__amount {
  font-size: convertUnit(32, rem);
  color: $strongCyan;

  @include breakpoint-up(medium) {
    font-size: convertUnit(40, rem);
  }

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: convertUnit(24, rem);
    background-color: $DarkCyan;
    border-radius: 16px;
    font-weight: $font-bold;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: convertUnit(16, rem) 0;
  }

  &__label {
    color: $white;

    &__unit {
      display: block;
      font-size: convertUnit(14, rem);
      color: $darkGrayishCyan;
    }
  }
}