.app {
  &__body {
    display: flex;
    flex-direction: column;
    background-color: $white;
    margin-top: convertUnit(41, rem);
    padding: convertUnit(32, rem) convertUnit(24, rem); 
    border-radius: convertUnit(22, rem) convertUnit(22, rem) 0 0; 

    @include breakpoint-up(medium) {
      flex-direction: row;
      gap: convertUnit(32, rem);
      width: 95%;
      margin: convertUnit(41, rem) auto 0 auto;
      border-radius: convertUnit(22, rem);
    }

    @include breakpoint-up(large) {
      width: 85%;
    }

    @include breakpoint-up(xLarge) {
      width: 70%;
    }
  }

  .btn {
    width: 100%;
    height: convertUnit(48, rem);
    font-size: $font-md;
    font-weight: $font-bold;
    text-align: center;
    font-family: 'Space Mono', monospace;
    border-radius: convertUnit(5, rem);
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &, &:focus, &:active {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &--tip {
      background-color: $DarkCyan;
      color: $white;

      &:hover {
        background-color: $strongCyanA;
        color: $DarkCyan;
      }

      &--active, &--active:hover {
        background-color: $strongCyan;
        color: $DarkCyan;
      }
    }

    &--reset {
      margin-top: convertUnit(32, rem);
      background-color: $strongCyan;
      color: $DarkCyan;
      text-transform: uppercase;
    }

    &--disable {
      opacity: 0.3;
    }
  }
}