html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $lightGrayishCyan;
  font-family: 'Space Mono', monospace;
  font-size: $font-xs;

  @include breakpoint-up(medium) {
    height: 100vh;
  }
}

.header {
  margin-top: convertUnit(50, rem);

  @include breakpoint-up(medium) {
    margin-top: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
