.app__input {
  &__wrapper {
    flex: 1;
    padding: 0 convertUnit(8, rem);

    @include breakpoint-up(medium) {
      padding: 0 convertUnit(16, rem);
    }
  }

  width: 100%;
  height: convertUnit(48, rem);
  padding: 0 convertUnit(16, rem) 0 convertUnit(40, rem);
  background-color: $veryLightGrayishCyan;
  font-family: 'Space Mono', monospace;
  font-size: $font-md;
  color: $DarkCyan;
  font-weight: $font-bold;
  text-align: right;
  border: 2px solid $veryLightGrayishCyan;
  border-radius: convertUnit(5, rem);
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: $strongCyan;
  }

  &__group {
    border: 0;
    padding: 0;
    margin-bottom: convertUnit(32, rem);
  }

  &--tip {
    padding: 0 convertUnit(16, rem);

    @include breakpoint-up(medium) {
      padding: 0 convertUnit(5, rem);
      
      &::placeholder {
        text-align: center;
        font-size: 20px;
      }
    }

    @include breakpoint-up(large) {
      &::placeholder {
        font-size: $font-md;
      }
    }
  }
}

.app__btn__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: convertUnit(16, rem);

  @include breakpoint-up(medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}